@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #8d7c7c;
  --foreground: #ffffff;
  /* --font-chewy: "Chewy", cursive;
  --font-fira-mono: "Fira-Mono", ; */
  --font-roboto: "Roboto";
  --font-roboto-mono: "Roboto-Mono";
  --font-roboto-condensed: "Roboto-Condensed";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c1c1c;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
}

h1 {
  color: var(--foreground);
  font-family: var(--font-roboto-mono), Arial, Helvetica, sans-serif;
  font-size: xx-large;
}

h2 {
  color: var(--foreground);
  font-family: var(--font-roboto-condensed), Arial, Helvetica, sans-serif;
  font-size: x-large;
}

/* @layer utilities {
  .mask-gradient {
    -webkit-mask-image: linear-gradient(to bottom, black 100%, rgba(0, 0, 0, 0.5) 60%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 20%, rgba(0, 0, 0, 0.5) 60%, transparent 100%);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-size: cover;
  }
} */


