@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #8d7c7c;
  /* --background: #ffffff; */

  --foreground: #ffffff;
  /* --font-chewy: "Chewy", cursive;
  --font-fira-mono: "Fira-Mono", ; */
  --font-roboto: 'Roboto';
  --font-roboto-mono: 'Roboto-Mono';
  --font-roboto-condensed: 'Roboto-Condensed';
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #8d7c7c; */
    --background: #303030;
    /* --background: #ffffff; */

    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
  /* overflow-x: hidden; */
}

h1 {
  color: var(--foreground);
  font-family: var(--font-roboto-mono), Arial, Helvetica, sans-serif;
  font-size: xx-large;
}

h2 {
  color: var(--foreground);
  font-family: var(--font-roboto-condensed), Arial, Helvetica, sans-serif;
  font-size: x-large;
}

@layer utilities {
  @property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
    z-index: -1;
  }
  .card {
    margin: 0 auto;
    padding: 2em;
    width: 300px;
    background: black;
    text-align: center;
    border-radius: 10px;
    position: relative;
  }

  .card::after,
  .card::before {
    content: '';
    position: absolute;
    height: calc(100% + 5px);
    width: calc(100% + 5px);
    background-image: conic-gradient(
      from var(--angle),
      #aeffe1,
      #aebcff,
      #aeffe1
    );
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -10; /* Lower than .card */
    padding: 3px;
    border-radius: 10px;
    animation: 2s spin linear infinite;
    transform: translateZ(0);
  }

  .card::before {
    filter: blur(1.5rem);
    opacity: 0.3;
  }

  @keyframes spin {
    from {
      --angle: 0deg;
    }
    to {
      --angle: 360deg;
    }
  }
}
